.section{
	background: none;
	margin-top: 20px;
	max-width: 100%;
	overflow: hidden;
	padding: 15px;
	position: relative;
	width: 75%;
	margin: 0 auto;
}
.contenedor{
	align: center;
	position: relative;
}
.map form{
	margin: auto;
	padding: 10px;
}