.enlaces{
  margin: 30px;
  max-width: 100%;
}
.enlaces label{
  margin: 25px;
  background: #58ACFA;
  box-shadow: 1px 1px 2px black;
  color: white;
  padding: 5px 10px;
}

.enlaces label a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-shadow: .8px .8px 1px black;
}

.enlaces label:hover{
  opacity: 0.8;
  padding: 8px 13px;
}

.cont_iframe{
  margin-bottom: 120px;
}

.cont_iframe iframe{
  max-width: 80%;
}
