.section {
  margin: 0 auto;
  position: relative;
  width: 520px;
  z-index: -5;
}
.section .contenedor {
  position: relative;
  width: 520px;
}
.section .contenedor .slider {
  box-shadow: 0px 0px 2px #000;
  margin: 0 auto;
  margin-top: 0px;
  min-height: 388px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
.section .contenedor .slider .elemento {
  position: absolute;
  width: 100%;
}
.section .contenedor .slider .elemento img {
  width: 100%;
}